/* Reset the default layout */

/* AnkiDroid */
#content {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	width: 100%;
}

/* Anki desktop */
.card {
    margin: 0;
    padding: 0;
}

input#typeans {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    text-align: center;
    padding: 0.5em;
}

.card-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0.5em;
    box-sizing: border-box;
    gap: 0.5em;
}

#word-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.writing-canvas {
    border: 1px solid #DDD;
}

:root {
    font-size: 18px;
}

@font-face {
    font-family: Noto Serif CJK SC;
    src: url("_kaiti.ttf");
}

p {
    width: 100%;
    height: fit-content;
    margin-top: 0;
    margin-bottom: 15px;
}

hr {
    margin: 0;
}

.card {
    text-align: center;
}

.card>* {
    width: 100%;
}

.chinese-font>p, .chinese-font #typeans {
    font-family: 'Noto Serif CJK SC', sans-serif !important;
}

.large-font-size > p, .large-font-size #typeans {
    font-size: 8em !important;
}

.writing-canvas {
    width: 150px;
    height: 150px;
    background-image: url("_hanzi_grid_background.svg");
    background-size: cover;
}

body.nightMode .writing-canvas {
    background-image: url("_hanzi_grid_background_dark.svg");
}

div.hidden {
	display: none;
}
